<mat-card class="card-container">
    <mat-card-header fxLayout="column">
        <mat-card-title text-center>Checkout</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <marvel-app-checkout-items-list
        [comics]="comics$ | async"
        (validateCoupon)="validateCoupon($event)"
        (removeComicFromCheckout)="removeComicFromCheckout($event)">
      </marvel-app-checkout-items-list>
    </mat-card-content>
    <mat-card-footer fxLayout="row" fxLayoutAlign="flex-end flex-end">
        <p *ngIf="(comics$ | async)?.length > 0" class="total-price">
          Total do Checkout: {{ totalPrice$ | async | currency:'BRL' }}
        </p>
    </mat-card-footer>
</mat-card>
