.mat-card-header {
  flex-direction: column-reverse;
  margin-top: -15px;
}

.mat-card-title {
  text-align: center;
  margin-top: 15px;
}

.card-container {
  min-height: 30%;
  margin: 3em 0 3em 0;
}

md-card {
  padding: 0px;
}

mat-card-content {
  min-height: 50vh !important;
}
