.preview-mat-list-item {
  height: 10em !important;
}

.preview-list-avatar {
  border-radius: 0 !important;
  width: 5em !important;
  height: 8em !important;
  object-fit: fill !important;
}

.mat-line {
  white-space: normal !important;
  overflow: unset !important;
  text-overflow: unset !important;
}

.div .mat-list-text {
  width: 55%;
}
