.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.card-container {
  min-height: 100%;
  margin: 3em 0 3em 0;
}

md-card {
  padding: 0px;
}


