<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/comics']">Quadrinhos</a>
      <a mat-list-item [routerLink]="['/comics/checkout']">Checkout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>marvel-front-end</span>
    </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="50" fxFlex.gt-sm="90" fxFlex.xs="95">
            <ng-content></ng-content>
        </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
