.checkout-list-item {
  min-height: 10em !important;
}

p, h4 {
    margin-block-start: unset;
    margin-block-end: unset;
}

.checkout-mat-chip {
    font-size: 11px;
    line-height: 5px;
}

.checkout-chip-list {
  padding-top: 5px;
}

.checkout-avatar {
  border-radius: 0 !important;
  width: 5em !important;
  height: 8em !important;
  object-fit: fill !important;
}

.comic-general-info {
  font-size: 11px !important;
}
