.checkout-list-item {
  min-height: 10em !important;
}

p, h4 {
    margin-block-start: unset;
    margin-block-end: unset;
}

.checkout-avatar {
  border-radius: 0 !important;
  width: 5em !important;
  height: 8em !important;
  -o-object-fit: fill !important;
  object-fit: fill !important;
}

p, h4 {
  font-size: 12px
}

.comic-list-item {
  padding-bottom: 1em;
}

.coupon-input-wrapper {
  top: -22px;
  padding: 0 !important;
  border-top: 0 !important;
}

// override

.btn-delete-icon {
  vertical-align: top !important;
}

.text-center {
  text-align: center;
}
