.detail-list-avatar {
    border-radius: 0 !important;
    width: 9em !important;
    height: 12em !important;
    object-fit: fill !important;
}

p {
  margin-block-start: unset;
  margin-block-end: 3px;
}

h2 {
  margin-block-start: unset;
  margin-block-end: unset;
}

.rarity-box {
  background: #c21e5b;
  color: white;
  min-height: 22px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

@media screen and (min-width: 599px) {
  .price-box {
    margin-left: auto;
  }
}

@media screen and (max-width: 599px) {
  .comic-title {
    text-align: center;
  }
}
