<div *ngIf="!isLoading; else loadingComic" fxLayoutAlign="center" fxLayout="column" fxFlexFill fxLayoutGap="1em">
    <div fxLayout="row" fxFlexAlign.xs="center">
        <a  mat-raised-button [routerLink]="['/comics']">Voltar</a>
    </div>
    <div fxLayout="column" fxLayoutAlign.xs="center center" fxFlexAlign.xs="center">
      <h2 class="comic-title">{{ comic.title }}</h2>
      <p>{{ comic.creators.items | creators:'writer':'Escritor' }}</p>
    </div>
    <div fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="1em"
      fxLayoutGap.xs="2em"
      fxFlexFill fxLayoutAlign="start start">
      <div fxFlex="0 1 0" fxFlexAlign.xs="center">
          <img class="detail-list-avatar" matListAvatar [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension">
          <div class="rarity-box" fxLayoutAlign="center center">
              {{ comic.rarity }}
          </div>
      </div>
      <div fxFlex="1 1 50%" fxFlexAlign.xs="center">
          <p><strong>Formato: </strong> {{ comic.format }}</p>
          <p><strong>Data de Publicação: </strong> {{ comic.dates | onSaleDate }}</p>
          <p><strong>Número de Páginas: </strong> {{ comic.pageCount }}</p>
          <p *ngIf="comic.description">
            <strong>Descrição: </strong>
            <span [innerHTML]="comic.description"></span>
          </p>
      </div>
      <div fxFlex="1 1 20%" fxFlexAlign.xs="center" fxFlexOrder.xs="-1" class="price-box">
        <div fxLayout="column" fxLayoutGap="1em" fxFlexFill>
          <h2 fxFlexAlign="center">{{ comic.prices | price }}</h2>
          <button *ngIf="!isSelectedComicInCheckout; else removeButton" mat-raised-button (click)="addToCheckout.emit(comic)">Adicionar</button>
          <ng-template #removeButton>
            <button mat-raised-button (click)="removeFromCheckout.emit(comic)">Remover</button>
          </ng-template>
        </div>
      </div>
  </div>
</div>
<ng-template #loadingComic>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
